@using ImmoBooking.Data.ViewModels
@model ShoppingCartVM

@{
    ViewData["Title"] = "Vos Ordres";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Vos Ordres</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nuitées à Passer</th>
                    <th>Propriété</th>
                    <th>Prix</th>
                    <th>sous-total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                    <td class="align-middle">@item.AmountofDays</td>
                    <td class="align-middle">@item.Property.Name</td>
                    <td class="align-middle">@item.Property.Price.ToString()DT</td>
                    <td class="align-middle">@((item.Property.Price*item.AmountofDays).ToString())DT</td>
                    <td class="align-middle">
                        <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                            asp-route-id="@item.Property.Id">
                        
                            <i class="bi bi-dash-circle"></i>
                        
                        </a>
                        
                        <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart"
                            asp-route-id="@item.Property.Id">
                        
                            <i class="bi bi-plus-circle"></i>
                        
                        </a>
                    </td>
                    
                </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString()DT
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-outline-success" asp-controller="Properties" asp-action="Index">
                    Ajouter Des Commandes
                </a>
            </div>
        </div>

    </div>
</div>